@{
    ViewData["Title"] = "Add Movie";
}
@model Movie
<h2 class="display-4 text-center">Add Movie to Collection</h2>
<br />
<form method="post">
    <input type="hidden" asp-for="MovieId"/>
    
    <div class="form-group">
        <label asp-for="Title">Enter Move Title:</label><br />
        <input asp-for="Title" required/>
    </div><br />
    <select asp-for="CategoryId" class="form-control" style="max-width: 10em">
            <option value="">Select a Category</option>
            @foreach (Category c in ViewBag.Categories)
            {
                <option value="@(c.CategoryId)">@c.CategoryName</option>
            }
        </select>
    <div class="form-group">
        <label asp-for="Year">Year Produced:</label><br />
        <input asp-for="Year" type="number" min="1888" step="1" placeholder="2024" 
               title="Enter move year. Must be after 1888." required/>
    </div><br />
    <div class="form-group">
        <label asp-for="Director">Enter Director's Name:</label><br />
        <input asp-for="Director" required/>
    </div><br />
    <div class="form-group">
        <select asp-for="Rating">
            <option value="" disabled selected>Choose a rating</option>
            <option value="G">G</option>
            <option value="PG">PG</option>
            <option value="TV-13">TV-13</option>
            <option value="PG-13">PG-13</option>
            <option value="TV-14">TV-14</option>
            <option value="R">R</option>
            <option value="UR">UR (Unrated)</option>
            <option value="NR">NR (Not Rated)</option>
        </select>
    </div><br />
    <div class="form-group">
        <label>Has this movie record been edited?</label><br />
        <input type="radio" asp-for="Edited" value="1" required>
        <label asp-for="Edited">Yes</label><br>
        <input type="radio" asp-for="Edited" value="0">
        <label asp-for="Edited">No</label><br>
    </div><br />
    <div class="form-group">
        <label asp-for="LentTo">If applicable, who was it lent to?</label><br />
        <input asp-for="LentTo"/>
    </div><br />
    <div class="form-group">
            <label>Copied to Plex?</label><br />
            <input type="radio" asp-for="CopiedToPlex" value="1" required>
            <label asp-for="Edited">Yes</label><br>
            <input type="radio" asp-for="CopiedToPlex" value="0">
            <label asp-for="Edited">No</label><br>
        </div><br />
    <div class="form-group">
        <label asp-for="Notes">(Optional) Add a note to this movie record</label><br />
        <textarea asp-for="Notes" maxlength="25"></textarea>
    </div><br />
    <button type="submit" class="btn btn-primary">Add Movie</button>
</form>