@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1><br />
    <p>My name is Joel and I LOVE movies. This site is to hold a collection of all my favorite movies.</p>
    <p>Enjoy!</p>
    <img src="~/img/JoelHiltonHeadshot.jpg" />
</div>